body {
  margin: 0px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.connexion {
  border: 2px solid black;
  background-color: bisque;
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  border: none;
}
input {
  border: none;
}
button {
  border: none;
}
